body{
	font-family:arial;
	margin:0 0;
	padding:0px 0px;
	min-width:400px;
	background-color:#fff;
}

body > header{
	/*position:fixed;*/
	font-size:200%;
	width:calc(100% - 40px);
	min-width:400px;
	height:40px;
	padding:20px;
	background-color:#0F186B;
	color:#FFF;
}

#h-title{
	display:inline-block;
	float:left;
}

#h-menu{
	display:inline-block;
	float:right;
}

#h-menu a{
	color:#000;
	text-decoration:none;
	font-size:80%;
}
#h-menu a:hover{
	color:#000;
	text-decoration:none;
	font-size:80%;
}

.content{
	width: 1004px;
	margin: 0 auto;
	padding-left:10px;
	padding-right:10px;
}

section{
	color:#000;
	padding-top:20px;
	width:100%;
}

section#photo{
	text-align:center;
}

section >header{
	color:#fff;
	margin-left:-10px;
	width:100%;
	padding:5px;
	padding-left:15px;
	background-color:#063582;
}

footer{
	width:calc(100% - 20px);
	text-align:center;
	background-color:#0F186B;
	margin-top:20px;
	padding: 10px;
	color: #fff;	
}

.clear{
	clear:both;
}

img.social{
	max-width:20px;
	max-height:20px;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:150px;
    border-radius:150px;
    width:300px;
    height:300px;
    box-shadow: 0px 0px 20px #343434;
    margin: 0 auto;
}

.roundedImage > img{
    width:300px;
    height:300px;
}
